[submodule "bootstrap"]
	path = bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "content/media/js/libs/dikteeri.js"]
	path = content/media/js/libs/dikteeri.js
	url = https://github.com/alumae/dictate.js.git
