---
title: Tutvustus
description: Test description
---

{% extends "columns.j2" %}


{% block main %}
### {% trans %}Sissejuhatus{% endtrans %}

{% trans %}Selle veebilehe abil saab [kõnetuvastuvastustehnoloogia](http://www.phon.ioc.ee/dokuwiki/doku.php?id=konetuvastus.et) abil dikteerida eestikeelset teksti. 

Rakendus on valminud riikliku programmi *Eesti Keeletehnoloogia (2011-2017)* projekti [Kõnetuvastus](http://www.keeletehnoloogia.ee/ekt-projektid/konetuvastus) 
raames TTÜ Küberneetika Instituudi foneetika ja kõnetehnoloogia laboris. Rakenduse loojad on Tanel Alumäe (serveritarkvara, kõnetuvastus) ja 
Kaarel Kaljurand (serveriga suhtlev Javascripti moodul).{% endtrans %}

### {% trans %}Tehnoloogia{% endtrans %}

{% trans %}TECHNOLOGY_LONG{% endtrans %}


{% endblock main %}
