<!DOCTYPE html>
<html lang="en">
  <head>
    {% block starthead %}{% endblock starthead %}
    <meta charset="utf8">
    <title>{% block title %}{{ resource.meta.title }}{% endblock %} | {{ site_title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ resource.meta.description }}">
    <meta name="author" content="{{ resource.meta.author }}">


    {% block basecss %}

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/united/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/flatly/bootstrap.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->    
    {% endblock basecss %}
    {% block css %}{% endblock %}



    {% block favicons %}
    {# Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references #}
    <link rel="shortcut icon" href="{{ media_url('img/favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ media_url('img/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ media_url('img/appleimgim-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ media_url('img/apple-touch-icon-114x114.png') }}">
    {% endblock favicons %}
    
    {% block headjs %}
    {% endblock headjs %}

    {% block endhead %}{% endblock endhead %}
    {% block analytics %}
    {% include "analytics.j2" %}
    {% endblock analytics %}
  </head>

  <body class="{{ resource.meta.id if resource.meta.id else resource.slug }}">

    {% block body %}

    <div class="container">
      {% block container %}

      {% endblock container %}
      <hr>
      <footer>
        {% block footer %}
        <p>{% trans %}Autor{% endtrans %}: <a href="{{ author.url }}">{{ gettext(author.name) }}</a></p>
        {% endblock footer %}
      </footer>
    </div> <!-- /container -->

    {% endblock body %}
    
    {% block js %}
    {# Javascript at the bottom for fast page loading #}
    {% block jquery %}
    {# Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ media_url('js/libs/jquery-1.10.1.min.js') }}">\x3C/script>')</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js"></script>
    {% endblock jquery %}

    {% block bootstrap_scripts %}
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% endblock bootstrap_scripts %}

    {% block scripts %}
    {% endblock scripts %}


    <!--[if lt IE 7 ]>
      <script src="{{ media_url('js/libs/dd_belatedpng.js') }}"></script>
      <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
    <![endif]-->



    {% endblock js %}
  </body>
</html>
