{# Adds in the topbar #}

{% extends "base.j2" %}



{% block container %}
  <!-- Static navbar -->
  <div class="navbar navbar-default" role="navigation">
    {% block topbar %}
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ home_url }}">{{ gettext(site_title) }}</a>
      </div>
      <div class="navbar-collapse collapse">
        {% from "macros.j2" import render_main_menu with context %}
        {{ render_main_menu() }}
      </div>
    </div>
    {% endblock topbar %}
  </div>

{{ super() }} {# Use this to include the rest of the body block as it was originally defined #}

{% endblock container %}
